<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>
                ADMINISTRACION DE PARTIDOS POLITICOS
                <button type="button" class="btn btn-success" (click)="create()">
                    <i class="fas fa-plus"></i>
                </button>
            </nb-card-header>
            <table class="table">
                <tr>
                    <th *ngFor="let column of columnNames">
                        {{column}}
                    </th>
                </tr>
                <ng-container *ngFor="let party of parties">
                    <tr>
                        <td>{{party.name}}</td>
                        <td>{{party.motto}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="updateOne(party._id)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button type="button" class="btn btn-danger" (click)="deleteOne(party._id)">
                                <i class="fas fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </nb-card>
</div>  
